@import "global.scss";

:global(body) {
  background-color: #0D0221;
  
  transition: background-color 0.3s;
}
:global(body.dark-mode) {
  background-color: #8a919c;
  color: #d6d6e7;
  h1 {
    color: #0D0221; 
  }
  p {
    color: #0D0221; 
  }
  ul#menu {
    background-color: #d6d6e7;
  }
}
