@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@600&display=swap");

main {
  font-family: "Urbanist", sans-serif;
  text-align: center;
  padding: 1em;
  max-width: 240px;
  margin: 0 auto;
}

button {
  box-shadow: 0 10px 10px #0c021f,
    0 8px 8px #040404;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
  padding: 0 16px;
  border-radius: 4px;
  color: #fff;
  background: #6200ee;
  line-height: 1.15;
  font-size: 13px;
  height: 41px;
  word-spacing: 0px;
  text-transform: uppercase;
  min-width: 64px;
  border: none;
  text-align: center;
  transition: min-width 10s;
  :global(body.dark-mode) {
    transition: background 1.2s;
    background: black;
  }
  &:hover {
    background: rgb(30, 0, 238);
    transition: letter-spacing 0.9s;
    letter-spacing: 0.2em;
  }

  transition: letter-spacing 0.9s;
  letter-spacing: 0.0892857143em;
  &:focus {
    background: rgb(32, 0, 238);
  }
}

.imagecol {
  box-shadow: 0 9px 9px #050011,
    0 5px 5px #0c021f;
  padding: 10px;
  border-radius: 5px;
  background-color: #0c021f;
  display: inline;
  /**
    TODO:
    - Add Cards
   */
  margin: 7em;
  font-family: "Urbanist", sans-serif;
}
.imagecol2 {
  box-shadow: 0 9px 9px #050011,
    0 5px 5px #0c021f;
  padding: 10px;
  border-radius: 5px;
  background-color: #0c021f;
  display: inline;
  /**
    TODO:
    - Add Cards
   */
  margin: 30em;
  font-family: "Urbanist", sans-serif;
}

h1 {
  position: static;
  transition: color 0.9s;
  color: #a6cfd5;
  text-transform: uppercase;
  font-size: 4.8em;
  font-weight: 100;
}

p {
  position: static;
  transition: color 0.9s;
  color: #a6cfd5;
  font-size: 1.6em;
  font-weight: 100;
}
a {
  transition: color 0.9s;
  color: #a6cfd5;
  font-size: 1.17em;
}
@media (min-width: 375px) {
  main {
    max-width: none;
  }
}
